@charset "UTF-8";

:root {font-size: 12pt;}

body {
background-color: #f3f3f3; 
color: black; 
font-family: "Atkinson Hyperlegible", Verdana, "Open Sans", system-ui, sans-serif; 
margin: 0; 
width: 100%;} 

body > * {max-width: 860px; margin-left: auto; margin-right: auto; padding-left: 5%; padding-right: 5%; padding-left: max(calc((100vw - 860px) / 2), 5vw); padding-right: max(calc((100vw - 860px) / 2), 5vw);}

														/*
-----------
 ELEMENTOS
-----------													*/

p {line-height: 1.75em; text-align: justify; text-indent: 2rem; margin: 1.5rem 0;}

a, a.link_ext {background: transparent;}

a:link, a:visited, a:hover {color: #000099; text-decoration: none;}
a:active {color: #06c; text-decoration: none;}

a.link_ext:hover {color: #8b008b;}
a.link_ext:active {color: #8a2be2;}
a.link_ext:link, a.link_ext:visited {color: #751157;}
nav, header, main, footer {display: block;}


														/*
-----
 NAV
-----														*/

nav {margin: 0; text-indent: 0;}
body > nav {align-items: center; background-color: #222; display: flex; gap: 0; height: 50px;}

body > nav a {margin: 0; display: block; text-decoration: none;}
nav img.logo {background-color: #a90000; display: block; width: auto; height: 24px; padding: 12px 16px 14px 16px;}
a#li-bi {content: url(bib.svg); width: 21px; height: auto; margin: 2rem;}
a#li-no {content: url(nov.svg); width: 21px; height: auto;}

														/*
--------
 HEADER
--------													*/

header {padding-top: 46px; padding-bottom: 50px; padding-block: 3rem;}
header img {clear: both; display: block; margin: 0 auto 1.125rem auto; height: 136px; width: auto;}
h1 {margin: 1.125rem auto; text-align: center; line-height: 1.25em;}
h2 {text-align: center; line-height: 1rem; font-weight: normal;}

header.fundo {background-color: #000; background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6),0 6px 20px 0 rgba(0,0,0,.19);}
header.fundo h1, header.fundo h2 {color: white;}

													/*
------
 MAIN
------													*/

main {background: white; padding-top: 3rem; padding-bottom: 3rem;}

table {margin: 0; line-height: 1.375rem; border-collapse: collapse; width: 100%;}

tr {border-bottom: 1px solid #d9d9d9;}
tr:first-child th {padding-top: 0;}
th {text-align: left; padding-top: 3.625rem; padding-bottom: 0.75rem; border-bottom: 2px solid black;}

td:first-child {white-space: nowrap;}
td:nth-child(2n) {padding-left: 2rem;}
td:last-of-type {padding-top: 0.75rem; padding-bottom: 0.75rem;}

table img {height: 16px; width: auto; vertical-align: text-bottom; image-rendering: pixelated;}
td > a:nth-of-type(2) > img {margin-left: 10px;}

.rec {font-variant: normal !important; white-space: normal !important;}

													/*
--------
 FOOTER
--------												*/

footer {border-top: 2px solid black; padding-block: 2rem 1.5rem;}

h3 {font-family: Alegreya; font-variant-caps: small-caps; font-weight: bold;}

section.biografia p {text-indent: 0;}

blockquote {margin: 1.25rem 0 1.25rem auto; max-width: 50%;}
 blockquote p {text-indent: 0; line-height: 1.7em;}
 blockquote > cite {display: block; text-align: right;}

.datas {font-weight: normal; text-align: right;}

														/*
-------
 FONTE
-------														*/

									/* tamanho dinâmico */

h1 {font-size: 1.5rem;}
h3 {font-size: 1.175rem;}
p, table, h2 {font-size: 1rem;}
section.biografia p, .menor {font-size: 0.875rem;}
section.biografia blockquote * {font-size: 0.75rem;}
.datas, small {font-size: 0.75rem;}

@media (min-width: 480px) {
h1 {font-size: 20pt;}
h3 {font-size: 14pt;}
p, table, h2 {font-size: 13pt;}
section.biografia p, .menor {font-size: 12pt;}
section.biografia blockquote * {font-size: 10pt;}
.datas, small {font-size: 9pt;}

p {line-height: 1.7em; margin: 1.625rem 0;}
}

@media (max-width: 480px) {
blockquote {margin-right: auto; max-width: 75%;}
}

/* latin-ext */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: italic; font-weight: 400; font-display: swap; src: url(fontes/atkinson/latin-ext-i.woff2) format('woff2'); unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}

/* latin */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: italic; font-weight: 400; font-display: swap; src: url(fontes/atkinson/latin-i.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

/* latin-ext */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: italic; font-weight: 700; font-display: swap; src: url(fontes/atkinson/latin-ext-bi.woff2) format('woff2'); unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}

/* latin */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: italic; font-weight: 700; font-display: swap; src: url(fontes/atkinson/latin-bi.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

/* latin-ext */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: normal; font-weight: 400; font-display: swap; src: url(fontes/atkinson/latin-ext.woff2) format('woff2'); unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}

/* latin */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: normal; font-weight: 400; font-display: swap; src: url(fontes/atkinson/latin.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

/* latin-ext */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: normal; font-weight: 700; font-display: swap; src: url(fontes/atkinson/latin-ext-b.woff2) format('woff2'); unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}

/* latin */
@font-face {font-family: 'Atkinson Hyperlegible'; font-style: normal; font-weight: 700; font-display: swap; src: url(fontes/atkinson/latin-b.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

/* latin-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(fontes/4UaHrEBBsBhlBjvfkSLk96Tp56N1.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(fontes/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(fontes/4UaBrEBBsBhlBjvfkSLvx6jx4w.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(fontes/4UaBrEBBsBhlBjvfkSLhx6g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
