ol.parentese li::marker {content: counter(list-item) ") ";}

       .editorial {text-align: justify; text-indent: 0; margin: 1rem 0 1rem 40%;}
      p.editorial {margin-bottom: 2rem;}
      p.editorial:has(+ p.editorial) {margin-bottom: 1rem;}
     hr.editorial {margin-top: 2rem; margin-bottom: 2rem;}
section.editorial {margin: 1rem 0 2rem 40%;}
section.editorial p, section.editorial h4, section.editorial h5 {text-indent: 0; margin: 1rem 0 1rem 0;}
section.editorial h4 {text-align: left;}
section.editorial h5 {text-align: left; margin-left: 1rem;}
section.editorial hr {margin-top: 2rem; margin-bottom: 2rem;}

.recuado {text-align: justify; text-indent: 0; margin-left: 40%; margin-right: 0;}
.recuo.curto {margin-left: 4rem; text-indent: 0;}
.semrecuo {text-indent: 0; margin-left: 2rem;}
.semparagrafo {text-indent: 0; margin-left: 0;}

div.colab, div.autorizada {display: block; margin: 2rem auto; text-align: center;}
 div.colab > p, div.autorizada > p {margin: 0 0 .25rem 0; text-align: center; text-indent: 0; font-weight: bold;}
 img.colab {margin: 0; width: auto; height: auto; max-width: 35%; max-height: 100px;}
 img.colab.alta {max-height: 200px;}
 img.colab.longa {max-width: 45%;}

 figure {width: 20%; max-width: fit-content;}
 figure.total {width: 100%; margin: 2rem auto;}
 figure.meio {margin: 2rem auto; width: 50%;}
 figure.esquerda {float: left; margin: .375rem 2rem 1.5rem 0; clear: left;}
 figure.direita {float: right; margin: .375rem 0 1.5rem 2rem; clear: right;}
 figure img {width: 100%; margin: 0 auto; height: auto; display: block;}
 figcaption {margin: 1rem 0 0 0; text-align: center;}
figure.meio + figure.meio {margin-top: 4rem;}

.editorial, section.editorial p, section.editorial h4, section.editorial h5, figcaption, caption {font-size: 0.75rem;}

table {margin: 1.625rem auto 1.625rem auto; border-collapse: collapse; border: none;}
 th {border: none; font-weight: bold; text-align: center; padding: 0.5rem 1rem; background-color: black; color: white;}
 th a:link, th a:visited {color: white;}
 th[scope="row"] a:link, th a:visited {color: revert;}
 td {border: none; color: black; padding: 0.5rem 1rem; background-color: white;}
 th[scope="row"] {background: lightgrey; color: black; text-align: left;}
 th > small {font-weight: normal;}
 caption {caption-side: bottom; margin-top: 1rem;}
 caption.titulo {caption-side: top; text-align: left; margin-bottom: 1rem; font-weight: bold; margin-top: 0; max-width: 90%; max-width: min(860px, 90vw)} /* a lógica do max-width ainda é experimental. há que recalcular */
 td.cinza {background-color: lightgrey;}
 th.cinza {background-color: grey;}
 td.bordaemcima {border-top: 2px solid black;}
 table td.legenda {border-left: 1px solid transparent; border-bottom: 1px solid transparent; border-right: 1px solid transparent; padding-top: 1rem; text-align: center;}
 table.comborda td.bordaemcima {border-top: 3px solid black;}
 td hr.transparente.breve {margin: 0; padding: 0.25rem;}
table.comborda, table.comborda th, table.comborda td {border: 1px solid black;}
table.colada td, table.colada th {padding: 0.5rem 0;}
table.fixa {width: 100%; table-layout: fixed;}

@media (max-width: 480px) {
img {max-width: 150px; height: auto;}
img.auto {width: auto; height: auto;}
img.colab {max-width: 200px;}
img.larga {max-width: 300px; height: auto;}
.editorial, section.editorial {margin-left: 2rem;}
figure.total img {width: calc(100% + 10vw); margin-left: -5vw; max-width: revert;}
.editorial figure.total img {width: 100%; margin-left: 0; max-width: revert;}
}
