@media (max-width: 480px) {
  header.top {background-color: #AA0000 !important;}
  header.titulo {padding-top: 1.25rem !important; padding-bottom: 1.25rem !important;}
  
  p { font-size: 12pt; margin-left: 5% !important; margin-right: 5% !important; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }

  h1 { font-size: 2rem !important; margin-left: 5% !important; margin-right: 5% !important; margin-bottom: 0.5rem !important; max-width: 50%; line-height: 2.5rem !important;}
  h3 { font-size: 14pt; margin-left: 5% !important; margin-right: 5% !important; margin-bottom: 0 !important;}
 
  img { width: 150px; height: auto; }
  img.fotoautor {height: 100%; position: absolute; right: 0; top: 0; width: 100px; object-fit: cover;}
  img.logo {height: 16px !important; width: auto !important; margin-left: 5%;}
  
  blockquote {margin-left: 1%; }
  div.mia {margin-left: 0 !important;}
  
  .tabela {margin-left: 5% !important; margin-right: 5% !important; width: 90% !important;}
}

html {
font-size: 1rem;
}

BODY {
 color: #000000;
 background-color: white;
 font-family: "Ubuntu variable", Verdana, Arial, Helvetica, sans-serif;
 margin-left: 0;
 margin-right: 0;
 margin-top: 0;
}

MAIN {
 color: #000000;
 background-color: white;
 margin-top: 0;
 padding-top: 1.5rem;
 margin-bottom: 2.5rem;
}

 A:link { color: #06c; background: transparent; text-decoration: none;}
 A:visited { color:#333399; background: transparent; text-decoration: none; }
 A:hover { color: #FF3300; background: transparent; text-decoration-line: underline; }
 A:active { color: #0000FF; background: transparent; }

H1 {
font-size: 2.9rem;
font-weight: 100;
line-height: 3.5rem;
margin-top: 0;
margin-bottom: 2rem;
margin-left: 8%;
margin-right: 8%;
}

header.top{
display: flex;
background-color: #222;
height: 52px;
}

header.titulo {
background-color: #F1F1F1;
clear: both;
display: block;
padding-top: 2.5rem;
padding-bottom: 2.5rem;
position: relative;
width: 100%;
}

H3 {
 color: #000033;
 line-height: 1.5rem;
 margin-top: 0;
 text-align: left;
 max-width: 100rem;
 padding-top: 0.4rem;
 font-size: 1rem;
 font-weight: 400;
 margin-left: 8%;
 margin-right: 8%;
}

P {
 font-size: 12pt;
 text-align: justify;
 line-height: 1.5em;
margin-left: 8%;
margin-right: 8%;
}


.lapide {
 font-size: 8pt;
 text-align: justify;
 text-indent: 0;
 margin-top: 2.5em;
 margin-right: 8%;
 margin-left: 8%;
 padding-bottom: 1.5rem;
 font-weight: bold;
 line-height: 0.85rem;
}

cite {
 font-style: normal;
 font-weight: normal;
}

tbody tr:first-child th{
padding-top: 1.5rem;
}

tbody td:nth-child(odd) {
white-space: nowrap;
}

tbody td:nth-child(even) {
padding-left: 2rem;
line-height: 1.5rem;
}

tr {border-bottom: 1px solid #d9d9d9;}

th {text-align: left; padding-top: 3rem; border-bottom: 2px solid black;}

.rec {font-variant: normal !important;
white-space: normal !important;
}

.tabela_datas {
 font-size: 8pt;
 text-align: center;
 font-weight: normal;
}

.registro {
 margin-top: 3rem;
 font-size: 8pt;
 text-align: right;
 font-weight: normal;
 margin-right: 8%;
 margin-bottom: 0; 
}

.tabela {
margin-left: 8%;
margin-right: 8%;
width: 84%;
margin-bottom: 1.5rem;
line-height: 2.5rem;
border-collapse: collapse;
}


@font-face {
font-family:"Ubuntu variable";
font-stretch:100%;
font-style:normal;
font-weight:100 800;
src:url("regular.woff2") format("woff2-variations")
}

@font-face {
font-family:"Ubuntu variable";
font-stretch:100%;
font-style:italic;
font-weight:100 800;
src:url("italico.woff2") format("woff2-variations")
} 

div.mia {
background-color: #AA0000;
margin-left: 8%;
padding-left: 16px;
padding-top: 16px;
padding-bottom: 16px;
padding-right: 16px;
margin-bottom: 0;
margin-right: 0;
margin-top: 0;
}

img.logo {
height: 20px;
width: auto;
}

footer {
background-color: #F1F1F1;
display: block;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

@media (min-width: 481px) {
.fotoautor {height: 100%; position: absolute; right: 8%; top: 0; width: auto;}
}
