/* trabalhadores, uni-vos */

html {height: 100%; min-height: 100vh;}

body {
 background-image: url('../centro/Segovia.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 font-family: "Jost", Verdana, sans-serif;
 height: 100%;
 margin: 0;
 padding: 0;
}

header {
 align-items: center;
 background-color: #a90000;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 box-sizing: border-box;
 color: white;
 display: flex;
 justify-content: space-between;
 left: 0;
 margin: 0;
 padding: 25px 70px 25px 70px;
 position: absolute;
 text-transform: uppercase;
 top: 0;
 width: 100%;
}

main {
 align-items: center;
 display: flex;
 height: 100%;
 justify-content: right;
 margin: 0 140px 0 0;
 padding: 0;
}

 select {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid black;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.4rem;
  width: 275px;
 }

footer {
 align-items: center;
 background-color: black;
 bottom: 0;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 box-sizing: border-box;
 color: white;
 display: flex;
 font-size: 0.9rem;
 justify-content: space-between;
 padding: 10px 70px 10px 70px;
 position: fixed;
 width: 100%;
}

footer nav.lista {display: none;}

a {text-decoration: none; color: white;}
a:hover {text-decoration: underline;}
b {font-weight: 600;}
ul {list-style-type: none; margin: 0; padding: 0; position: relative; display: flex; gap: 50px;}
li {font-size: 0.9rem;}

.conteiner {width: auto;}
.conteudo {padding: 30px 40px 30px 40px}
.foto {color: gray; margin: 0 0 0 50px;}
.logo {margin: 0; padding: 0; line-height: 1.10; font-weight: 400;}
.lista {display: flex; align-items: center; margin: 0; padding: 0;}

/* dispositivos */

@media (max-width: 480px) {
.foto {margin: 40px 0 0 0; font-size: 0.5rem;}
.lista {display: block;}
body {background-attachment: fixed;}
header {display: block; padding: 25px 40px 25px 40px;}
header div.lista {display: none;}
main {margin: 10%; justify-content: left;}
table {margin: 0; width: 100%;}
select {width: 100%;}
footer {display: block; position: initial; padding: 40px 40px 30px 40px;}
nav {margin: 0;}
footer nav.lista {display: block; margin: 0 0 40px 0; padding: 0;}
ul {margin: 0; position: initial; display: initial; gap: 0;}
}

@media only screen and (min-width: 481px) and (max-width: 750px) {
header {padding: 25px 40px 25px 40px}
header div.lista ul li {font-size: 75%;}
footer {padding: 25px 40px 25px 40px}
footer ul {gap: 20px;}
ul {gap: 10px;}
.foto {font-size: 0.9rem; margin: 0 0 0 20px;}
}

@media print {footer nav.lista {display: none;}}
