html {
 height: 100%;
 min-height: 100vh;
}

body {
 height: 100%;
 background-image: url('Segovia.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 margin: 0;
 padding: 0;
 font-family: "Jost", Verdana, sans-serif;
}

header {
 text-transform: uppercase;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 background-color: white;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
 height: 100%;
 padding: 0;
 margin: 0 140px 0 0;
 display: flex;
 align-items: center;
 justify-content: right;
}

footer {
 align-items: center;
 background-color: black;
 bottom: 0;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 color: white;
 display: flex;
 font-size: 0.9rem;
 justify-content: space-between;
 padding: 0;
 position: fixed;
 width: 100%;
}

a {text-decoration: none; color: black;}
a:hover {text-decoration: underline;}
footer a {color: white;}

b {font-weight: 600;}

ul {list-style-type: none; margin-right: 70px; padding: 0; position: relative; display: flex; gap: 50px;}
li {font-size: 0.9rem;}
footer ul {margin: 0 0 0 70px;}
footer nav.lista {display: none;}

select {
 background-clip: padding-box;
 background-color: white;
 border: 1px solid black;
 font-family: inherit;
 font-size: 0.9rem;
 padding: 0.4rem;
 width: 275px;
}

.conteiner {width: auto;}
.conteudo {padding: 30px 40px 30px 40px}
.foto {color: gray; margin: 0 70px 0 0;}
.lista {display: flex; align-items: center; margin-top: 10px; margin-bottom: 10px;}
.logo {line-height: 1.10; margin: 25px 0 25px 70px; font-weight: 400;}

@media (max-width: 480px) {
header div.lista {display: none;}
.lista {display: block; margin: 0 40px 0 40px;}
.logo {text-transform: uppercase; margin: 25px 40px 25px 40px;}
.foto {margin: 25px 40px 0 40px; font-size: 0.5rem;}
body {background-attachment: fixed;}
footer {display: block; position: initial; padding-bottom: 25px;}
header {text-transform: none; display: initial;}
main {margin: 10%; justify-content: left;}
select {width: 100%;}
table {margin: 0; width: 100%;}
ul {margin: 0; position: initial; display: initial; gap: 0;}
nav {margin: 20px 40px 25px 40px;}
footer nav.lista {display: block; margin: 0 0 0 40px; padding-top: 20px;}
} 
